#choropleth svg {
  /* background-color: red; */
  /* width: 400px; */
}

/* fff6ef */
.anim {
  animation: fill-anim;
  animation-duration: 2s;
  animation-direction: reverse;
}

@keyframes fill-anim {
  100% {
    fill: #fff6ef;
  }
}
